{% extends 'base.html.twig' %}

{% block title %}La casserai{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 class="text-center">Hotel La Casserai</h1>
    <div class="card mb-3">
  <img class="card-img-top" src="https://www.italianbark.com/wp-content/uploads/2018/01/hotel-room-design-trends-italianbark-interior-design-blog.jpg" alt="Card image cap">
  <div class="card-body">
    <h3 class="card-title text-center">Luxe kamer</h3>
    <p class="text-center">Deze luxe kamer heeft een mooi uitzicht over het strand!</p>
    <p class="text-center">&euro;250/Nacht</p>
    <a href="/boeking" class="align-middle btn btn-primary">Boeken</a>
  </div>
</div>
{% endblock %}
